* {
    margin: 0;
    box-sizing: border-box;
}

.section1 {
    width: 200px;
    height: 200px;
    box-shadow: #bbb 0px 0px 20px;
    border-radius: 8px;
    margin: 50px auto 0px auto;
}

h2 {
    background-color: teal;
}

span {
    background-color: tomato;
}
