.formulario-personal {
    background: coral;
}

/* Todos los input que esten dentro de un elemento con la clase
.formulario-personal */
.formulario-personal input{
    border-radius: 10px;
}

.formulario-externo {
    background: khaki;
}

section {
    background: lightgreen;
}

.letra-morada{
    color: purple;
}

.subrayado {
    text-decoration: underline;
}

#inputgoogle {
    background: grey !important;
}

/*......................*/
#inputgoogle {
    background: green;
}